:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgba(0, 16, 56, 0.922);
    --accent1-color: rgba(0, 57, 115, 0.85);
    --accent2-color: rgba(0, 0, 0, 0.588);
    --heading-font: Arial, Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: large;
}

.navigation {
    margin-right: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    gap: 10px;
}

.navigation a{
    text-decoration: none;
    flex: 1 1 auto;
    color: var(--primary-color);
}

header img{
    width: 100px;
    height: auto;
    margin-left: 6rem;
}


header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
}

nav, p, section, article { 
    margin: 16px auto;
    padding: 2px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
    padding: 10px 20px;
}

.hero article {
    position: absolute; 
    bottom: 30%;
    width: 100%;
    background-color: var(--accent1-color);
    padding: 15px;
    color: white;
}

.hero article img {
    float: right; 
    width: 180px;
    height: auto;
    margin-left: 10px;
}

.hero article p {
    text-align: left;
    grid-column: 1/2;
}

h2 {
    padding: 10px;
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 2rem;
    align-items: start;
    padding: 1rem 1rem;             
    margin-top: 1rem;
}

.history h2 {
    grid-area: 1 / 1 / 2 / 4;
    margin: 0 0 1rem 0;
    background: none;    
    color: var(--accent1-color);
    text-align: center;
    padding: 0;
    color: var(--secondary-color)
}

.history img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    width: 300px;  
    height: auto;
}

.history .paragraph1{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.history .paragraph2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.history p {
    margin: 0;
    line-height: 1.4;
    color: #000;
}

.adventure {
    display: flex;
    flex-direction: column;
    align-items: center;      
    margin-top: 2rem;
}

.adventure h2 {
    width: 100%;
    text-align: center;
    background-color: white;
    color: var(--accent1-color);
    padding: 10px;
    margin-bottom: 1rem;
}

.adventure-packages {
    display: flex;
    justify-content: space-around;   
    flex-wrap: nowrap;
    gap: 1rem;
    color: black;
}

.adventure-packages figure {
    text-align: center;
    max-width: 150px;
}

.adventure-packages img {
    width: 150px;
    height: auto;
    border-radius: 4px;
}

.gridfooter {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.gridfooter p {
    grid-column: 2 / 3;
    color: black;
}

.socialmedia {
    grid-column: 3/4;
}

.socialmedia a {
    text-decoration: none;
}

