* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: white;
}

h1  {
    margin: .5rem;
    text-align: center;
}

form {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: rgb(237, 236, 236);
    color: black;
}

input,
textarea,
select {
    padding: .75rem;
    min-width: 100%;
}

code {
    display: block;
    background-color: rgba(0, 0, 0, 0.82);
    color: white;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}

button {
    background-color: rgba(0, 78, 223, 0.676);
    margin: 0 auto;
    color: white;
    display: block;
    border-radius: .5rem;
    width: 85%;
    height: 40px;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: large;
    font-weight: bold;
}
