* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}


nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: larger;
}

h1 {
    color: steelblue;
    padding: .5rem;
    border-bottom: 0.02px solid grey;
    
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}


main img{ 
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 10px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;

}

ul {
    clear: both;
}

h2 {
    color: white;
 }

img {
    width: 150px;
    height: auto;
    border: 0.5px solid (0 0 0 / 1%);
    padding: 2px;
    box-shadow: 0 0 20cap gray;
}

p {
    padding: 0;
    margin: 1rem;
}

aside{
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 60px;
    left: 80px;
}

footer{ 
    margin-top: 1 em;
    border-top: 1px solid lightgrey;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1x solid rgba(0, 0, 0, 1);
    padding: 2rem;
    background-color: rgb(239, 239, 239);
    color: black;
}

.indent { 
    padding-left: 2rem;
}

/*Comment to see if anything changes*/
