.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    padding: 15px;
    background-color: #247;
    color: antiquewhite;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: antiquewhite;
    width: 100px;
    height: auto;
	
}

blockquote {
    margin: 0;
	
}

cite {
    padding: 10px;
    display: block;
    border-top: 1px dotted #fff;
    text-align: right;
    font-size: smaller;
}