body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header p {
    font-size: x-large;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

h2{
    border-bottom: 1px solid #333;
    margin-left: 10px;
}

img{
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

section {
    margin: 20px 0;
    border: 1px solid  rgb(0 0 0 / 10%);
    padding: 6px;
    background-color: lightgrey;
    font-size: medium;
}

section p {
    margin: 10px;
}

footer {
    text-align: center;
    padding: 2px;
    background-color: #333;
    color: white;
}